# Dependency directories
/node_modules
/yarn-error.log
/yarn.lock
/.pnp
.pnp.js

# Build artifacts
/dist/
/build/

# Editor/IDE specific files
.idea/
.vscode/

# Testing
/coverage

# Environment configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log

# Compiled Webpack bundles
*.js
*.map

# Other
.DS_Store
Thumbs.db
