.left-heading{
    color: #dd713a;
    font: 28px;
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding-top: 30%;
}

.left-paragraph{
    color: #474e66;
    font-size: 2em;
    font-weight: 450;
    text-align: left;
    padding-top: 1%;
    width: 60%;
}


#vector-1{
    height: 80px;
}

#vector-2{
    height: 80px;
}

#vector-3{
    height: 85px;
}


.informationbox{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    text-align: left;
}

#vector-1-paragraph{
    padding-left: 30%;
}

.form{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    padding: 5%;
}

#form-heading{
    text-align: left;
    padding-bottom: 20px;
}

.form-text{
    text-align: left;
   
}

.btn-primary{
  width: 100%;
  background-color: #dd713a;
  border-color: #dd713a;
}

.btn-primary:hover{
    width: 100%;
    background-color: #f7a175;
    border-color: #dd713a;
  }

.form-control{
    padding-left: 10%;
    padding-right: 10%;
}